ffmpeg -i "{{.input}}"{{range $m := .mappings}} -map {{$m}}{{end}}{{with .video}} -c:v {{.codec}}{{with .preset}} -preset {{.}}{{end}}{{with .bitrate}} -b:v {{.}}{{end}}{{with .tolerance}} -bt {{.}}{{end}}{{with .crf}} -crf {{.}}{{end}}{{with .resolution}} -s:v {{.}}{{end}}{{with .filter}} -filter:v "{{.}}"{{end}}{{if .deinterlace}} -deinterlace{{end}}{{else}} -c:v copy{{end}}{{with .audio}} -c:a {{.codec}}{{with .channels}} -ac:a {{.}}{{end}}{{with .bitrate}} -b:a {{.}}{{end}}{{else}} -c:a copy{{end}}{{with .limit}} -t {{.}}{{end}}{{with .start}} -ss {{.}}{{end}}{{with .end}} -to {{.}}{{end}}{{with .subtitles}}{{with .codec}} -c:s {{.}}{{end}}{{with .resolution}} -s:s {{.}}{{end}}{{end}}{{with .filter}} -filter_complex "{{.}}"{{end}}{{with .threads}} -threads {{.}}{{else}} -threads 0{{end}} -y "{{.output}}"
